@import url('https://fonts.googleapis.com/css2?family=Lora&family=Pacifico&display=swap');
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

 body{
  overflow-x: hidden;
 }
nav{
   width: 100vw;
   height: 10vh;
   display: flex;
   justify-content: space-between;
   background: none;
   background-color: #ffffff;
}
.logo-box{
   height: 80%;
   width: 10%;
   margin-top: 1vh;
}
.nav-links{
   width: 65%;
   height: 80%;
   margin-top: 1vh;
   font-size: 14px;
   font-family: Poppin, sans-serif;
}
.nav-links ul{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
}
.nav-links ul li{
   list-style: none;
   margin-top: 1.5vh;
}
.nav-links ul li a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.nav-links ul li a:is(:link, :active, :visited).active{
   color: #721bca;
}
.navbar-btns{
   width:  20%;
   height: 80%;
   margin-top: 1vh;
   display:  flex;
   justify-content: space-around;
}
.sign-in-btn{
   width: 80px;
   height: 30px;
   background-color: #ffffff;
   border: 2px solid #721bca;
   outline: none;
   cursor: pointer;
   border-radius: 10px;
   margin-top: 1.5vh;
}
.login-btn{
   width: 80px;
   height: 30px;
   background-color: #721bca;
   outline: none;
   cursor: pointer;
   border-radius: 10px;
   margin-top: 1.5vh;
   border: none;
   outline: none;
   color: #ffffff;
}

.profile_section {
  width: 50%;
    /*height: 500px;*/
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
   

}

#name {
    color: #c28df2;
}

.profile-img {
    position: absolute;
width: 150px;
height: 15px;
padding-top: 30px;
}

.rounded-circle {
  border: solid;
  border-color: #721bca;
  padding: 1.5px;
  border-width: 5px;}

p{
  text-align: center;
}

.p-links {
    text-decoration:non;
 color : black ;}
.profil_ul{
    font-weight: bold;
    font-size: medium;
    row-gap: 5px;
    text-align: center;
}



@import url("https://fonts.googleapis.com/css2?family=Lora&family=Pacifico&display=swap");

footer {
  width: 100vw;
  height: 40vh;
  background-color: #c28df2;
  font-family: Poppins, sans-serif;
}
.footer-items {
  width: 80%;
  height: 75%;
  margin-left: 10%;
  display: flex;
  border-bottom: 2px solid #000000;
}
.company {
  width: 20vw;
  height: 100%;
}
.company li{
  list-style: none;
  margin-left: 20px;
}
.company li a{
  text-decoration: none;
  color: #ffffff;
}
.help {
  width: 20vw;
  height: 100%;
}
.help li{
  list-style: none;
  margin-left: 20px;
}
.help li a{
  text-decoration: none;
  color: #ffffff;
}
.resources {
  width: 20vw;
  height: 100%;
}
.resources li{
  list-style: none;
  margin-left: 20px;
}
.resources li a{
  text-decoration: none;
  color: #ffffff;
}
.installApp {
  width: 20vw;
  height: 100%;
}
.installApp li{
  list-style: none;
}
.installApp p {
  color: #ffffff;
}

.copyright {
  width: 100%;
  height: 25%;
  background-color: #c28df2;
  display: flex;
  justify-content: space-between;
}
.footer-items ul {
  height: 70%;
  width: 80%;
  margin-left: 10%;
  font-size: 14px;
}
.footer-items ul li{
  margin-top: 10px;
  list-style: none;
}
.footer-items ul li a {
  text-decoration: none;
  color: #ffffff;
}
.icon-box {
  width: 150px;
  height: 50px;
}
.icon-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.apple-icon-box {
  width: 150px;
  height: 50px;
}
.apple-icon-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-items p {
  margin-top: 10px;
  margin-left: 10%;
  font-weight: 600;
}
.copyright-text {
  color: #ffffff;
  margin-left: 10%;
  margin-top: 20px;
}
.social-icons {
  margin-right: 10%;
  margin-top: 20px;
  width: 10%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
