@import url('https://fonts.googleapis.com/css2?family=Lora&family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: vw;
}
body{
    overflow-x: hidden;
}
.nav_header {
    width: vw;
height: 44px;
}
 .container-fluid {
font-family: 'Poppins' ;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
background-image: radial-gradient(circle 1000px, #e0ccf0,#c28df2);

 }
 .navbar-brand {
    width: 152px;
height: 44px;
text-align: center;
color: #721BCA;
margin-bottom: 5px;
 }

 .navbar-nav{
    margin-left:50px ;

 }

.sign_in{
    border-radius: 10.7703px;
    color: #721BCA;
    border-color: #721BCA;

}
 .join {
    background: #721BCA;
    border-radius: 10.7703px;
    color: #fff;
    border-color: #721BCA;
 }
 
 .sign_in:hover {
    border-radius: 10.7703px;
    color: #721BCA;
    border-color: #721BCA;
    background: #fff;
 }
 .join:hover {
    background: #721BCA;
    border-radius: 10.7703px;
    color: #fff;
    border-color: #721BCA;
 }

.profile_section {
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin-top: 70px;
    padding-left: 500px;

}

#name {
    color: #c28df2;
}
.avatar
{
    display: flex;
    flex-direction:column ;
}
/*.profile_img {
    position: absolute;
width: 150px;
height: 15px;
padding-top: 30px;
}*/

.profil_ul{
    font-weight: bold;
    font-size: medium;
    align-items: center;
    row-gap: 5px;
}
